<h1>つぶやき一覧</h1>
<table>
  <tr>
    <th>内容</th>
  </tr>
<% @chunters.each do |chunter| %>
  <tr>
    <td><%= chunter.content %></td>
    <td><%= link_to '編集する', chunter_path(chunter.id) %></td>
  </tr>
<% end %>
</table>
<%= link_to '新しくつぶやきを投稿する', new_chunter_path %>
